* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background: whitesmoke;
    height: 40px;
    align-items: center;
}

#img-nav {
    margin-left: 35px;
    cursor: context-menu;
}

#h1-nav {
    margin-right: 35px;
    cursor: context-menu;
}

#cont1 {
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100%;

}

#btn-perfil {
    width: 100px;
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

#cont2 {
    background: rgb(223, 078, 085);
    width: 100vw;
    height: 50vh;
}

#cont3 {
    width: 100vw;
    height: 50vh;
    background: whitesmoke;
}